html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #FFFFFF;
    color: #37474F;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

h1,
h2,
h3 {
    font-weight: 200;
}

.content-grid {
    max-width: 960px;
}
